section  {
	display: grid;
	justify-items: center;
	width: 500px;
	height: 700px;
	overflow: hidden;
	cursor: pointer;
	background-color: blue;
	border-radius: 4px;
}  
section > *  {
	width: inherit;
	height: inherit;
	grid-area: 1 / 1;
}
	strong{

  color:#FFFFFF
}
section > div:nth-child(1) { 
  background: linear-gradient(to right, red, orange); 
} 
section > div:nth-child(2)  {
	--gt: linear-gradient(black, black);
	--n: 110px;
	--h: calc(var(--n) - 5px);
 	background: 
 	    var(--gt) top right,
 	    var(--gt) top var(--n) right,
 	    var(--gt) top calc(var(--n) * 2) right,
 	    var(--gt) top calc(var(--n) * 3) right,
       	 var(--gt) top calc(var(--n) * 4) right,
 	    red; 
	background-size: 70% var(--h), 90% var(--h), 70% var(--h), 50% var(--h), 30% var(--h);
	/* mix-blend-mode: screen; */
	background-repeat: no-repeat;
	transition: background-size 1s;
}
section:hover > div:nth-child(2)  {
	background-size: 100% var(--h), 100% var(--h), 100% var(--h), 100% var(--h), 100% var(--h);
	transition: background-size 1s;
}

@media (max-width:500px){
	section {
		width: 90vw;
		transform: scale(.9);
	}
	
	strong{
		 font-size: calc(12px + 12vw);
	}
}




.text{
    width:300px;
  position:relative;
    height:60px;
  	background-color: orange;

}


.bg { 
   position:absolute;
   width:10%;
  height:100%;
  	transition: width 1s;

/* background-size: 60% 60px; */  /* top:0; */
  /* left:0; */
	background-color: red;
  /* background: linear-gradient(black, black),top right,red; */ 

} 

.text:hover > .bg  {
	width:100%;
  cursor:pointer;
	transition: width 5s;
}



